

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: auto;
}

.item {
    font-size: 1.5rem;
    font-weight: 500;
}

.brand {
    padding-left: 3rem;
    color: #004AC7;
    
}

.brand:hover {
    text-shadow: -2px 2px #004AC7;
    transform: scale(1.1);
    transition: all ease-in-out 1s;
    
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 3em;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-ancors {
    text-decoration: none;
    color: black;
}

.menu-ancors:hover {
    color: #004AC7;
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
}

.icons-container {
    display: flex;
    justify-content: space-around;
    padding-right: 3rem;
    gap: 20px;
    align-items: center;
}

.icon {
    width: 30px;
}

.icon:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.2s;
}

.items-number-cart-container {
    width: 22px;
    height: 22px;
    background-color: #004AC7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 1.5em;
    right: 3.1em;
}

.items-number-cart {
    text-decoration-line: none;
}