.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    background-color: #2862c5;
    padding: 2rem;
    z-index: 1;
    height: 100vh;
    transition: all ease-in-out 0.6s;
}
.close-button-container {
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
}
.close-button {
    width: 30px;
    height:30px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}